.header_content{
	width:1200px;
	margin:auto;
}

.header_content hr{
	position:relative;
	top:10px;
	height:2px;
	background-color:#aaa;
	display:block;
	clear:both;
}

.header_login{
	font-size:10px;
	text-align:right;
	margin-top:10px;
}

.header_login a{
	font-size:10px;
	margin-left:10px;
	margin-right:10px;
}

.header_login a:hover{
	color:orange;
}

.header_title{

	margin-top:15px;
	
	float:left;
}

.header_title h1{
	font-family:楷体;
	font-weight:900;
	font-size:40px;
}


.header_right{
	float: right;
}

.header_menu{
	margin-top:20px;
}

.header_menu li{
	font-size: 30px;
    font-weight: bold;
    font-family: 楷体;
    float: left;
   
}

.header_menu a{
	padding-top:10px;
    padding-bottom: 10px;
    padding-left:30px;
    padding-right: 30px;
}

.header_menu a::first{
	background-color:orange;
	color:white;
}

.header_menu a:hover{
	background-color:orange;
	color:white;
}