.header_content{
	background-color:white;
	width:1200px;
	margin:auto;

}

.header_content hr{
	height:1px;
	background-color:#aaa;
	display:block;
	clear:both;
}

.header_top{
	margin-bottom:10px;
}

.header_login{
	text-align:right;
	margin-top:10px;
}

.header_login a{
	margin-right:30px;
}

.header_login a:hover{
	color:orange;
}

.header_login span{
	margin-right:30px;
}

.header_title{
	margin-left:20px;
	margin-top:15px;
	
	float:left;
}

.header_title h1{
	
	font-weight:900;
	font-size:40px;
}


.header_right{
	float: right;
}

.header_menu{
	float:right;
	margin-top:20px;
	padding-bottom:20px;
}

.header_menu li{
	margin-top:10px;
	    font-size: 30px;
    font-weight: bold;
    font-family:¿¬Ìå;
    float: left;
   
}

.header_menu a{
	padding-top:10px;
    padding-bottom: 10px;
    padding-left:30px;
    padding-right: 30px;
}

.header_menu a::first{
	background-color:orange;
	color:white;
}

.header_menu a:hover{
	background-color:orange;
	color:white;
}