#login{
	background-image:url(../image/login_bgx.gif);
	font-family:Arial,Helvetica,Verdana;

}

#login .wrapper{
	width:403px;
	min-height:400px;
	margin: auto;
	margin-top:100px;
}

#login h1{
	text-shadow: 1px 1px 1px #FF0000;
	font-weight:bold;
	color:#66b3ff;
	    display: block;
    text-align: center;
}

#login .border{
	background-image:url(../image/login_m_bg.png);
	height:302px;
}

#login .padding{
	    padding: 28px 47px 20px 47px;
}

#login .padding h2 {
    color: #4f5d80;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 11px;
}

#login input.txt_input2 {
    margin-bottom: 20px;
}

#login input.txt_input {
    width: 295px;
    height: 36px;
    border: 1px solid #cad2db;
    padding: 0 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    line-height: 36px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #717171;
    font-family: Arial;
}

#login .forget{
	margin-top:15px;
	font-size:11px;
	text-align:right;
	margin-bottom: 15px;
}

#login .submit{
	float:right;
	width:122px;
	color:#fff;
	height:32px;
	font-weight:bold;
	background-color:#66b3ff;
}
#login .submit:hover{
	background-color:#0080ff;
}

